IO_LOC "nSwitch_IBUF_I_4" IOR31B;
IO_LOC "nSwitch_IBUF_I_3" IOL38B;
IO_LOC "nSwitch_IBUF_I_2" IOL45B;
IO_LOC "nSwitch_IBUF_I_1" IOB45B;
IO_LOC "nSwitch_IBUF_I" IOB54B;
IO_LOC "nLed_OBUF_O_5" IOR32B;
IO_LOC "nLed_OBUF_O_4" IOR32A;
IO_LOC "nLed_OBUF_O_3" IOT52A;
IO_LOC "nLed_OBUF_O_2" IOT52B;
IO_LOC "nLed_OBUF_O_1" IOT34B;
IO_LOC "nLed_OBUF_O" IOT34A;
