IO_LOC "nLed_OBUF_O_5" IOR32B;
IO_LOC "nLed_OBUF_O_4" IOR32A;
IO_LOC "nLed_OBUF_O_3" IOT52A;
IO_LOC "nLed_OBUF_O_2" IOT52B;
IO_LOC "nLed_OBUF_O_1" IOT34B;
IO_LOC "nLed_OBUF_O" IOT34A;
IO_LOC "nButton_IBUF_I_2" IOB48B;
IO_LOC "nButton_IBUF_I_1" IOL53B;
IO_LOC "nButton_IBUF_I" IOL40B;
IO_LOC "clk_IBUF_I_O_DFFRE_CLK_RESET_LUT1_F_I0_IBUF_O" IOR35B;
IO_LOC "clk_IBUF_I_O_DFFRE_CLK_CE_LUT1_F_I0_IBUF_O" IOB52B;
IO_LOC "clk_IBUF_I" IOT27A;
