// SPDX-FileCopyrightText: 2026 Tim Wiederhake
//
// SPDX-License-Identifier: WTFPL

IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC "pt8211_enable" R16;
IO_PORT "pt8211_enable" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "pt8211_din" P15;
IO_PORT "pt8211_din" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "pt8211_ws" P16;
IO_PORT "pt8211_ws" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "pt8211_bck" N15;
IO_PORT "pt8211_bck" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
